body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: goldenrod;
    border: 1px solid grey;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    color: darkgreen;
    font-weight: 600;
}

nav {
    flex-grow: 1;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    a {
        flex-grow: 1;
        flex-basis: 120px;
        text-align: center;
        font-variant-caps: all-small-caps;
        font-weight: 600;
        font-family: monospace;
        font-size: 1.6rem;
        color: darkgreen;
        text-decoration: none;
        border: 1px solid gray;
        background-color: wheat;
        border-radius: 0.5rem;
        transition: background-color 0.5s;
        &:hover {
            background-color: cornsilk;
        }
        &.active {
            border-bottom: 3px solid darkgreen;
        }
    }
}

main {
    padding: 1rem;
    flex-grow: 1;
    li {
        list-style: none;
        font-size: 1.4rem;
    }
    input[type='number'] {
        width: 5rem;
    }
}
