<form class="content rows2" hx-post="/ai/queries" hx-target=".answers" hx-swap="afterbegin">
    <div>
        <em>An AI will try to steer you in the right direction without spoiling the answer. This is not a chat conversation, so try be clear and provide enough detail in one shot. <span id="ai-credit-text">{{credit_text}}</span></em>
        <textarea id="ai-textarea" name="question" placeholder="Your question about the current assignment"></textarea>
    </div>
    <input type="submit" value="Help me!">
</form>
<div class="answers">
    {% for query in queries %}
    {{query.to_html() | safe}}
    {% endfor %}
</div>
