{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    Companies
{% endblock %}

{% block body %}
    <div class="columns">
        <h2>{{filter_text}}</h2>
        <form class="buttons">
            <div>
                {{filter_form.city(onchange="submit()")}}
            </div>
            <div>
                {{filter_form.size(onchange="submit()")}}
            </div>
            <div>
                {{filter_form.offer(onchange="submit()")}}
            </div>
        </form>
    </div>

    <div class="company rows3">
        <div class="people-cards">
            {% for company in companies %}
                <a href="{{ url_for('show_company', company_id=company.id)}}" target="_blank">
                    <div class="card company-header" style="position: relative; {{ 'background-color: ' + company.background_color + '; color: ' + company.foreground_color + ';'}}">
                        {% if company.logo_file %}
                        <img class="logo" src="{{ company.logo_file }}">
                        {% endif %}
                        {% if not company.logo_file or not company.logo_includes_name %}
                        <div class="name">{{ company.name }}</div>
                        {% endif %}
                        {% if not company.company_publish or (current_user.is_teacher and not company.teacher_publish) %}
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 32px; height: 32px; position: absolute; right: 0; top: 0;" viewBox="0 0 24 24"><path fill="currentColor" d="M14.33 7.17A15.642 15.642 0 0 0 12 7c-4.97 0-9 2.239-9 5c0 1.44 1.096 2.738 2.85 3.65l2.362-2.362a4 4 0 0 1 5.076-5.076zm-3.1 8.756a4 4 0 0 0 4.695-4.695l2.648-2.647C20.078 9.478 21 10.68 21 12c0 2.761-4.03 5-9 5c-.598 0-1.183-.032-1.749-.094zm6.563-10.719a1 1 0 1 1 1.414 1.414L6.48 19.35a1 1 0 1 1-1.414-1.414z"/></svg>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        {% if current_user.is_teacher %}
            <h1>Admin</h1>
            <ul>
                {% for safari in safaris %}
                    <li>
                        <a class="safari-day" href="{{ url_for('show_safari', safari_id=safari.id) }}">
                            Business Safari on {{ safari.first_date }} and {{ safari.second_date }}
                        </a>
                    </li>
                {% else %}
                    <li>No safaris registered yet!</li>
                {% endfor %}
            </ul>

            <div class="buttons">
                <div class="add-button">
                    <a href="{{ url_for('add_company')}}">
                        <button>
                            Add new company
                        </button>
                    </a>
                </div>
                <div class="add-button">
                    <a href="{{ url_for('add_safari')}}">
                        <button>
                            Add new safari
                        </button>
                    </a>
                </div>    
            </div>
        {% endif %}
    </div>
{% endblock %}
