{% extends "layout.html" %}

{% block title %}
<a href="/events">Intro Events</a>
<div>Bux Payment</div>
{% endblock%}

{% block body %}
    {% if transaction.status == 'pending' %}
        <h2>Processing...</h2>
        We are currently processing your transaction. Please reload this page to update status.
    {% endif %}

    In case of any problems involving payments, please talk to a teacher, preferably Frank.

    <table>
        <tr><td>Bux</td><td>{{ transaction.bux }}</td></tr>
        <tr><td>Date</td><td>{{ transaction.transaction_date }}</td></tr>
        <tr><td>Status</td><td>{{ transaction.status }}</td></tr>
    </table>

    <a role="button" href="/events">Back to events...</a>

{% endblock %}