{% extends "layout.html" %}

{% block title %}
Inbox
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

<form class="buttons" onsubmit="return false;" style="margin-bottom: var(--mar3);">
    <div>
        <input type="text" id="searchFilter" placeholder="Search by name" oninput="filterPeople(this.value)" autofocus>
    </div>
</form>

{% include 'queue.html' %}

{% endblock %}