<div class="modal" onclick="closeModal(this)">
    <div class="content">
        <div class="scrollable">
            {% if title %}
            <h1>{{title}}</h1>
            {% endif %}
            {% include fragment_name ignore missing %}
        </div>
        <div class="close" onclick="closeModal(this)"></div>
    <div>
</div>