<script setup lang="ts">
import Header from './components/Header.vue'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <Header />
  <main>

    
  <div id="content-container" class="app-container">
    <h2>Welcome to math trainer</h2>
    <p>
      With this app you can create and store calculations and practice solving these calculations in a quiz.
    </p>
    <p>
      Next steps:
      <ul>
        <li>
          Add <a href="calc.html">calculations</a>
        </li>
        <li>
          Start a <a href="index.html">quiz</a> <em>(not yet implemented)</em>
        </li>
      </ul>
    </p>
  </div>
  <footer class="app-footer">
      <div class="footer-content">
          <label>Total Calculations:
              <span
                  aria-label="total-calculations"
                  id="total-calculations"
                  >0</span
              ></label
          >
      </div>
  </footer>  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }
}
</style>
