<template>
  <header>
    <nav class="nav-tabs">
      <ul>
        <li aria-label="home" id="home-tab" class="active">
          <a href="index.html">Home</a>
        </li>
        <li aria-label="saved" id="saved-tab">
          <a href="calc.html">Calculations</a>
        </li>
        <li aria-label="about" id="about-tab">
          <a href="about.html">About</a>
        </li>
      </ul>
    </nav>
  </header>
</template>
